.todo-container{
    width: 20vw;
    max-height: 50vh;
    overflow-y: auto;
    background-color: #312e81;
    opacity: .9;
    border-radius: 4px;
    padding: 1rem;
    right: 2rem;
    bottom: 10rem;
}
.todo-input{
    background-color: transparent;
    border: none;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
    margin-bottom: 8px;
    font-size: 1rem;
    width: 17vw

}

.todo-input:focus{
    outline: none;
}