
.task-container{
    color: var(--text-color-primary);
    padding-top: 4rem;
}
.time{
    font-size: 8rem;
}
.message{
    font-size: 4rem;
}
.focus-question{
    font-size: 2rem;
    padding-bottom: 10px;
}
.task-input{
    font-size: 2rem;
    width: 35vw;
}